.fondo {
    background-image: url("../IMAGENES/Fondo.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100vh;
}
header{
    background-color: white;
}