.fondo {
    background-image: url("../IMAGENES/Fondo.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 40px 0;
}
header{
    background-color: white;
}
.texto{
    font-style: normal;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.65);
}
.cilindro{
    display: block;
    margin: 0 auto;
      width: 100%;
    max-width: 550px;
    height: max-content;
}

.btn-login{
    background-color: #FF6B00;
    color: white;
    border: none;
}
.catalogo{
    background-color: whitesmoke;
}

@media (max-width: 768px) {

    .fondo {
        background-position: center;
        background-size: cover;
        min-height: 100vh;
    }

}

.peronsa-contacto{
       width: 100%;
    max-width: 550px;
    height: max-content;
}

.btn-carrito {
    background-color: #ff6600;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    padding: 8px 14px;
    margin-left: 10px;
}

.btn-carrito:hover {
    background-color: #e65c00;
    color: white;
}